<h1>About us</h1>
<p>Hello! My name is Zachary Niehaus! I am currently working as a Dual-Rate Floor Supervisor for a casino in Souther California and am learning to code. Check back soon for more information about what is to come on this website!</p>
